<h1>Products#index</h1>
<p>Find me in app/views/products/index.html.erb</p>
<h1>Products</h1>

<div id="products">
  <% @products.each do |product| %>
    <div>
      <%= product.name %>
    </div>
  <% end %>
</div>
